* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #495c3f;
    --secondary-color: #eeeeee;
    --tertiary-color: #777575;
    --quaternary-color: #1d1d1c;
}

body {
    background-color: var(--quaternary-color);
}

p {
    font-size: 16px;
}

/* Header Styles */
header {
    padding: 20px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 .Olson {
    color: var(--tertiary-color);
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: flex;
    margin-left: 25px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.30vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
  }


/* Hero Styles */
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Background Hero4.jpg");
    /* "C:\Users\jolso\Desktop\projects\J.Olson-Portfolio\assets\Images\Salt Flats.jpg" */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
    padding-right: 25px;
    padding-bottom: 15px;
    display: flex;
    justify-content: end;
    align-items: end;

}

.hero-profile img {
    width: 150px;
    height: 150px;
    border-radius: 25%;

  }

  /* Section Style Start */
  .section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-right: 5px solid;
    text-align: right;
    padding-right: 30px;
    padding-left: 5px;
  }

  .primary-border {
    border-color: var(--primary-color);
  }

  .secondary-border {
    border-color: var(--tertiary-color);
  }

  /* Intro Style Start */
  .intro {
    display: flex;
    justify-content: center;
    padding-bottom: 30px
  }

  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
  }

  .cont-para {
      width: 60%;
  }

  /* Footer Styles */
  footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  footer h4 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
    text-align: center;
  }

  /* Utility Styles */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
   width: 70%
  }

  /* Media Query For Smaller Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 20px;
    }
    .intro {
        flex-wrap: wrap;

    }
}

  /* Media Query For Tablets and Smaller */
@media screen and (max-width: 768px) {
.intro {
        
        
    }
}

/* Media Query For Mobile Phones And Smaller */
@media screen and (max-width: 575px) {

}